

.container{
    position: relative;
    border: 2px solid green;
    width: 700px;
    top: 100px;
}

.box{
    width: 300px;
    height: 200px;
    border: 3px dashed red;
    position: relative;
}

img{
    width: 100%;
}

.im2{
    /* position: relative; */
    /* left: 20px; */
    /* top: -70px; */
    /* z-index: 1; */

    /* position: absolute; */
    /* left: 200px; */
    /* top: 35%; */

    /* position: sticky; */
    /* top:0px; */

    /* position: fixed; */
    /* top: 200px; */

    top: -50px;
    /* z-index: ; */
}

.im1{
    z-index: 1;
}

.im3{
    top: -150px;
    z-index: -1;
}

/* .im3{
    position: relative;
    left: 20px;
    top: -150px;
    z-index: -1;
} */



h2::after{
    content: " After content";
    color: green;
}

h2:hover::before{
    content: "Before content ";
    color: red;
}

p::first-letter{
font-size: 250px;
}

p::first-line{
    background-color: green;
}

::selection{
    background-color: aqua;
    color: white;
}

input::placeholder{
    color: red;
}