

.container{
    position: relative;
    border: 2px solid green;
    width: 700px;
    top: 100px;
}

.box{
    width: 300px;
    border: 3px dashed red;
}

img{
    width: 100%;
}

.im2{
    /* position: relative; */
    /* left: 20px; */
    /* top: -70px; */
    /* z-index: 1; */

    position: absolute;
    left: 200px;
    top: 35%;
}

/* .im3{
    position: relative;
    left: 20px;
    top: -150px;
    z-index: -1;
} */

