

.container{
    border: 2px solid tomato;
    display: flex;
    justify-content: space-between;
    height: 500px;
    align-items: center;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
}

.box{
    border: 2px dashed red;
    width: 100px;
    height: 100px;
}