

.container{
    /* display: flex; */
    display: grid;
    /* grid-template-columns: 200px 200px 200px 200px ; */

    /* grid-template-columns: repeat(2,100px) 200px 150px; */

    /* grid-template-columns: repeat(3,1fr)2fr; */

    grid-template-columns: 200px 50px 100px;

    gap:5px 20px;
    /* justify-content: center; */
    /* justify-content: space-between; */
}

.item{
    border: 2px solid green;
}