

nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: black;
}

.login-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid tomato; */
    align-items: center;
    height: 80vh;

}

.login{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    /* border: 2px solid green; */
}

.login input{
    margin: 20px 0px;
}