.container, .inner{
    width: 200px;
    height: 200px;
}

.container{
    border: 2px solid red;
    background-color: bisque;
    /* transition: width 5s linear 2s; */
}

.container:hover .inner{
    border: 2px solid green;
    background-color: palegoldenrod;
    /* transform: scale(0.5, 0.5); */
    /* rotate: 5deg; */

    transform: rotate(13deg);
    /* transform: scale(0.5); */
/* width: 0px; */
transition: transform 3s;


}